In [3]:
print('Hello')

Hello

In [22]:
integer_number = 5
negative_integer = -20

print(integer_number)
print(negative_integer)
type(integer_number)
type(negative_integer)

float_number = 2.14
negative_float = -2.14

print(float_number, "Type",type(float_number))
print(negative_float,"Type", type(negative_float))

5
-20
2.14 Type <class 'float'>
-2.14 Type <class 'float'>

### Setting up python
* `python --version`
* `python -m pip freeze`
* `py -m venv venv`
* `venv/Scripts/activate` (for windows)
* `source activate` (for Mac)
 - if previous command didn't work, run:
 
   `Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser`
 - run `venv/Scripts/activate` (for windows) or `source activate` (for Mac) again
* Select Kernel > Python Environments > venv

## Sequence Types ##
1. **String**: String values, representing text or characters, such as 'hello', "world", '123', etc.

In [1]:
str1 = "Hello"
str2 = "Python"
str3 = "User123"

print(str1,str2,str3)

Hello Python User123

In [6]:
print(type(str1))
# String Index
print(str1[0])
print(str1[-1])

<class 'str'>
H
o

2. **Lists**: Lists are used when you need a collection of elements that can be modified or reordered. They are suitable for sequences of items of the same type or different types.

In [9]:
numbers = [1,2,3,4,5] # List of integers
names = ['Name1', 'Name2', 'Name3'] # List of Strings
print(numbers)
print(names)

print(numbers[1]) # Indexing
print(names[1])
names[0] = "Name4"
print(names)

[1, 2, 3, 4, 5]
['Name1', 'Name2', 'Name3']
2
Name2
['Name4', 'Name2', 'Name3']

3. **Tuple**: Tuples are used when you want to store a fixed collection of elements that should not be changed. They are often used for immutable sequences, such as coordinates, database records, or function return values.

In [11]:
tuple_values = (1, 'Hello', 3.14)
tuple_values

(1, 'Hello', 3.14)

**Dictionaries**:  Dictionaries are used when you need to associate keys with values for efficient lookup. They are suitable for representing data with key-value relationships, such as mappings, configurations, or database records indexed by unique keys.

In [21]:
person = {'name': 'Mark', 'age': 20}
person['name']

'Mark'

# Boolean Type

#### bool: Boolian values representing True or False

In [23]:
is_valid = True
is_admin = False
print(is_valid)
print(is_admin)
print(type(is_valid))

True
False
<class 'bool'>

#### Dynamic Typing
Variables can change type after they have been set. This is known as dynamic typing.

In [26]:
my_var = 10
print(type(my_var))

my_var = 'Test'
print(type(my_var))

my_var = 1.2
print(type(my_var))

<class 'int'>
<class 'str'>
<class 'float'>

### Python Operators and Expressions
##### Arithmetic Operators

In [31]:
# Addition +
print("Addition: ", 5 + 10)

# Subtraction -
print("Subtraction: ", 10 - 5)

# Multiplication *
print("Multiplication: ", 5 * 10)

# Division
print("Division: ", 5 / 10)

# Modulus %
print("Modulus: ", 5 % 10)

# Exponent **
print("Exponent: ", 10 ** 3)

Addition:  15
Subtraction:  5
Multiplication:  50
Division:  0.5
Modulus:  5
Exponent:  1000

### Comparison Operator

In [32]:
x = 10
y = 5
# Equal to
result = x == y
print(result)
# Not equal to
result = x != y
print(result)
# Greater Than
result = x > y
print(result)
# Less Than
result = x < y
print(result)
# greater than or equal to
result = x >= y
print(result)
# less than or equal to
result = x <= y
print(result)

False
True
True
False
True
False

### Logical Operators

In [33]:
x = 10
y = 5
# AND
result = (x > 5) and (y < 10)
print(result)
# OR
result = (x > 5) or (y < 3)
print(result)
# NOT
result =  not (x == 10)
print(result)

True
True
False

### Assignment Operators

In [34]:
x = 10
#Addition Assignment
x += 5 # x = x + 5
print(x)
#Subtraction
x -= 5
print(x)
#Multiplication
x *= 5
print(x)
#Division
x /= 5
print(x)

15
10
50
10.0

### Type Coercion or Type Conversion

In [35]:
x = 10 # int
# converting to float
x = float(x)
print(x)
print(type(x))
# convert to string
x = 10.23
x = str(x)
print(x)
print(type(x))
x = 10.45
x = int(x)
print(x)

10.0
<class 'float'>
10.23
<class 'str'>
10

## String Model

In [36]:
my_string = "Hello Python!"
print(my_string)
print(len(my_string))
first_letter = my_string[0]
print(first_letter)
slice_string = my_string[0:5]
print(slice_string)
my_text = "Reverse this string!"
# starting point: ending point : traversal method
reversed_string = my_text[::-1]
print(reversed_string)

Hello Python!
13
H
Hello
!gnirts siht esreveR

In [38]:
sample_string = "data analytics course"
# capitalize
print(sample_string.capitalize())
# title
print(sample_string.title())
# in
print("data" in sample_string)
print("science" in sample_string)
# find
print(sample_string.find("analytics"))
print(sample_string.find("science"))
#replace
print(sample_string.replace("data", "information"))
# combine
print(sample_string.replace("data", "information").title())
# lower and uppercase
print(sample_string.upper())
print(sample_string.lower())

Data analytics course
Data Analytics Course
True
False
5
-1
information analytics course
Information Analytics Course
DATA ANALYTICS COURSE
data analytics course

In [39]:
text = "the quick brown fox jumps over the lazy dog"
# count
print(text.count("the"))
messy_string = "        Data Analyst - Junior       "
# strip
print(messy_string.strip())
# split
sentence = "Python is fun to learn"
words = sentence.split(" ")
print("Words:", words)

2
Data Analyst - Junior
Words: ['Python', 'is', 'fun', 'to', 'learn']

**Concatenation**

In [40]:
first_name = "Abbi"
last_name = "Vicente"
full_name = first_name + " " + last_name
print(full_name)
#f-strings
print(f"Hello my name is {first_name} {last_name}")
sql_str = """
SELECT * FROM
WHERE
x in ({x})
"""
print(sql_str.format(x=first_name))

Abbi Vicente
Hello my name is Abbi Vicente

SELECT * FROM
WHERE
x in (Abbi)

## List Methods

In [41]:
# Create list
my_list = ["Python", "Java", "C++"]
print(my_list)
# Adding a new item - append
my_list.append("PHP")
print(my_list)
# Insert item at a specific position
my_list.insert(2, "Ruby")
print(my_list)
# Remove item at the end
my_list.pop()
print(my_list)
# remove specific value
my_list.remove("Java")
print(my_list)
# remove by index
del my_list[1]
print(my_list)

['Python', 'Java', 'C++']
['Python', 'Java', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++']
['Python', 'Ruby', 'C++']
['Python', 'C++']

In [42]:
# list slicing
list_data = [1, 2, 3, 4, 5]
# starting point : ending point : traversal method
list_data[3:]
list_data[3::-1]

[4, 3, 2, 1]

In [43]:
# list extending
list_a = [1, 2, 3]
list_b = ["a", "b", True]
# combining lists
print(list_a + list_b)
# extendin a list with another list
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 'a', 'b', True]
[1, 2, 3, 'a', 'b', True]

In [44]:
# sort
list_data = [3, 5, 19, 20, 8]
list_data.sort()
print(list_data)
# Descending order
list_data.sort(reverse=True)
print(list_data)
list_names = ["Brandy", "Al", "Cristina", "Marc"]
list_names.sort()
print(list_names)

[3, 5, 8, 19, 20]
[20, 19, 8, 5, 3]
['Al', 'Brandy', 'Cristina', 'Marc']

## Tuple Methods

In [45]:
#create a tuple
tuple_data = (1, 2, 3, 4, 5)
print(tuple_data[2])
nested_list_tuple = ([1, 2], [3, 4], [5, 6])
print(nested_list_tuple[1][0])
# combining tuples
tuple_data = (1, 2) + (3, 4)
print(tuple_data)
# duplicating tuples in one tuple
tuple_data = (1, 2) * 3
print(tuple_data)

3
3
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

### Exercise:

Exercise 1: Working with Lists
1. Create a list of three fruits of your choice.
2. Add another fruit to the list and remove the first fruit.
3. Print the final list of fruits.

Exercise 2: List Slicing and Accessing
1. Given the list numbers = [10, 20, 30, 40, 50], print the second and fourth number using indexing.
2. Use slicing to print the last three numbers in the list.

Exercise 3: List Comprehension
1. Create a new list that contains each number from an existing list numbers = [1, 2, 3, 4, 5] squared, using list comprehension.
2. Print the new list.

Exercise 4: Tuple Basics
1. Create a tuple named info containing your name and age.
2. Print the second element of the tuple.

Exercise 5: Tuples for Fixed Data
1. Given a tuple months with all the months of the year, try updating the first month to "January". Catch the TypeError and print a custom message explaining that tuples are immutable.

Exercise 6: Tuple Packing and Unpacking
1. Pack five favorite colors into a tuple named colors.
2. Unpack these colors into individual variables and print them.

In [72]:
# Exercise 1
fruits = ['Apple', 'Mango', 'Orange']
print(fruits)

fruits.append('grapes')
print(fruits)

['Apple', 'Mango', 'Orange']
['Apple', 'Mango', 'Orange', 'grapes']

In [73]:
# Exercise 2
numbers = [10, 20, 30, 40, 50]
print(numbers[1:-2])
print(numbers[-3:])

[20, 30]
[30, 40, 50]

In [74]:
# Exercise 3
numbers = [1, 2, 3, 4, 5]
sq_numbers = [x**2 for x in numbers]
print(sq_numbers)

[1, 4, 9, 16, 25]

In [79]:
# Exercise 4
tuple = ("Mark Mercado", 20)
print(tuple[1])

20

In [82]:
# Exercise 5
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
try:
    months[0] = "January"
    
except TypeError:
    print('Tuples are immutable. You cannot change the elements after they are created')

Tuples are immutable. You cannot change the elements after they are created

In [87]:
# Exercise 6
colors = ("red", "blue", "green", "yellow", "purple")
a,b,c,d,e = colors
print('Colors: {}, {}, {}, {}, {}'.format(a,c,b,e,d))

Colors: red, green, blue, purple, yellow

## Dictionary

In [88]:
dict_data = {
 "name": "John",
 "age": 20,
 "country": "PH"
}
print(dict_data["name"])
# get
print(dict_data.get("country"))
# remove key-value pairs
del dict_data["age"]
print(dict_data)
# keys - List out keys of a dictionary
print(dict_data.keys())
# values - List out values of a dictionary
print(dict_data.values())
# items - get key-value pairs
print(dict_data.items())

John
PH
{'name': 'John', 'country': 'PH'}
dict_keys(['name', 'country'])
dict_values(['John', 'PH'])
dict_items([('name', 'John'), ('country', 'PH')])

In [89]:
dict_data1 = {"a": 1, "b": 2}
print(dict_data1)
dict_data2 = {"b": 3, "c": 4}
print(dict_data2)
# update - update/merge
dict_data1.update(dict_data2)
print(dict_data1)

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

**Getting a Dictionary of Keys and Default Values**

In [90]:
keys = ["a", "b", "c"]
default_values = 0
dict_data3 = dict.fromkeys(keys, default_values)
print(dict_data3)
# setting new values for keys
dict_data3["a"] = 1
print(dict_data3)

{'a': 0, 'b': 0, 'c': 0}
{'a': 1, 'b': 0, 'c': 0}

## Control Flows and Statements

In [91]:
# conditional statements
# if/else
temperature = 29
if temperature >= 40:
 print("It's pretty hot.")
elif temperature >= 30:
 print("It's not as hot as before")
else:
 print("Wow! It's not hot!")
 # match/case
day = "Thursday"
match day:
 case "Monday":
  print("It's the start of the week")
 case "Friday":
  print("It's the weekend!")
 case _:
  print("It's a regular day")

Wow! It's not hot!
It's a regular day

In [101]:
# Looping Statements
# while
count = 0
while (count < 3):
 print(count)
 count = count + 1
else:
 print("While loop is done!")
# For
# range(number of times to repeat statement)
for i in range(10):
    print(i)
# range(starting value, ending value)
for i in range(1, 6):
    print(i)
# iterable values (lists, tuples, strings, etc.)
# looping through lists
list_data = [1, 2, 3, 4, 5]
for i in list_data:
     print("List data: ", i)
# printing horizontally
list_str = ""
for i in list_data:
    list_str += f"{i} "
print(list_str)
# looping through strings
str4 = "test"
for i in str4:
    print(i)

0
1
2
While loop is done!
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
List data:  1
List data:  2
List data:  3
List data:  4
List data:  5
1 2 3 4 5
t
e
s
t

## Python Functions
- Groups code together into a block.
- Allows us to call and reuse code efficently.
- It could take in information (parameters) and return information (return statement) to the caller.

In [102]:
def my_function():
 print("Hello World")
# calling a function
my_function()
my_function()
my_function()
my_function()

Hello World
Hello World
Hello World
Hello World

In [103]:
# parameters and arguments
def name_function(fname):
 print(f"Hello, I am {fname}.")
name_function("Abbi")
# multiple parameters and arguments
def full_name(fname, lname):
 print("Hello, I am" + " " + fname + " " + lname)
full_name("Abbi", "Vicente")

Hello, I am Abbi.
Hello, I am Abbi Vicente

In [104]:
# Arbitrary Arguments (*args)
def list_function(*kids):
 for i in kids:
  print(i)
list_function("Aaron", "Francis", "Adrian", "Julia")

Aaron
Francis
Adrian
Julia

In [109]:
# Keyword Arguments
def fruit_function(fruit3, fruit2, fruit1):
    print(fruit1)
    print(fruit2)
    print(fruit3)

fruit_function(fruit1="Banana", fruit2="Grapes", fruit3="Apple")

# Arbitrary keyword arguments (**kwargs)
# use pass to make placeholder functions
def person_function(**details):
    print(f"This person's name is {details['fname']} {details['lname']}")

person_function(fname="Princess", lname="Lim")

Banana
Grapes
Apple
This person's name is Princess Lim